html { 
cursor: url('images/hotcheeto.png'), auto;
background-image:linear-gradient(to right, #dc1212, #f05d00, #fc9100, #ffc200, #fdf207);
}
.grid-4cole { 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2vh;
  border: 1px black solid;
}

.grid-colspan4 {
  background-color: rgba(252,145,0,0.4);
  padding: 1em;
  grid-column-start: 1;
  grid-column-end: span 4;
}

.grid-colspan2-a {
	background-color: rgba(252,145,0,0.4);
	padding: 1em;
	grid-column-start: 1;
	grid-column-end: span 2;
	text-align: justify;
}
.grid-colspan2-b {
	background-color :rgba(252,145,0,0.4);
	padding: 1em;
	grid-column-start: 3;
	grid-column-end: span 2; 
	text-align: justify;